.about-me-intro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    font-weight: bold;
    color: white;
}

.small-info{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 1.8;
    margin-bottom: 2rem;
    color: rgba(255,255,255,0.9);
}

.about-section {
    margin-top: 0;
}

.rows-and-columns{
    display: flex;
    justify-content: center;
    align-items: center;
}


.svg-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
