.tech-icons {
    display: flex !important;
    align-self: center !important;
    justify-content: center !important;
    font-size: 1rem !important;
    padding: 10px 20px !important;
    opacity: 0.93 !important;
    outline: 1px solid rgba(200, 137, 230, 0.637) !important;
    vertical-align: middle !important;
    text-align: center !important;
    border-radius: 24px !important;

    box-shadow: 0 8px 20px rgba(197, 115, 230, 0.883);
    overflow: hidden !important;
    width: fit-content !important;
    cursor: pointer !important;
    transition: outline-color 0.3s, outline-width 0.3s, transform 0.3s;
    color: white;

    margin-top: 25px; /* ADJUST THIS VALUE until the chopping stops */

    /* Ensure the z-index fix is still active, just in case */
    position: relative;
    z-index: 100;
}

.tech-icons-text {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: white;
}

@media (max-width: 767px) {
    .tech-icons {
        margin: 10px !important;
    }
}

.tech-icons:hover {
    transform: scale(1.05) !important;
    overflow: hidden !important;
    outline: 2px solid rgba(197, 115, 230, 0.883) !important;
}

.tech-icon-images {
    height: 1.6rem;
    line-height: 1.6 !important;
}

.quote-card-view {
    border: none !important;
    color: white !important;
    background-color: transparent !important;
}

.about-activity {
    list-style: none !important;
    text-align: left !important;
    padding-left: 1px !important;
}

@media (max-width: 767px) {
    .about-img {
        padding-top: 0 !important;
    }
}

/* about section */
.about-section {
    position: relative !important;
    padding-top: 150px !important;
    padding-bottom: 30px !important;
    /* background-image: var(--section-background-color) !important; */
    color: white !important;
}

.to-change-color{
    color: rgb(145, 159, 195);
}

.techstack-row{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}