.projects-section {
    position: relative;
    padding-top: 100px;
    margin-top: 30px;
}

.section-title {
    padding-top: 40px;
    position: absolute;
    z-index: 10;
    top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    color: white;
}

.row {
     display: flex;
     justify-content: center;
     align-items: center;
     column-gap: 4rem;
     width: 1000px;
     margin: auto;
 }

